.nav {
  position: fixed;
  top: 0;
  left: 230px;
  transition: all 0.3s ease-in-out;
}
/* Small devices (sm) */
@media (min-width: 376px) {
  .nav {
    left: 0;
  }
}

/* Medium devices (md) */
@media (min-width: 768px) {
  .nav {
    left: 230px;
  }
}

/* Large devices (lg) */
@media (min-width: 992px) {
  .nav {
    left: 230px;
  }
}

/* Extra large devices (xl) */
@media (min-width: 1200px) {
  .nav {
    left: 230px;
  }
}
